*~
*.o
*.lo
config.*
Makefile
Makefile.in
.deps
.libs
*.la
aclocal.m4
autom4te.cache/
configure
depcomp
install-sh
libtool
lrzip
lrzip*.tar.bz2
lrzip*.tar.gz
ltmain.sh
missing
stamp-h1
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
man/lrunzip.1
man/lrzcat.1
man/lrztar.1
man/lrzuntar.1
