name: check_build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: prepare repo
      run: git fetch --prune --unshallow
    - name: autogen
      run: ./autogen.sh
    - name: Install dependencies
      run: sudo apt update && sudo apt install -y liblzo2-dev liblz4-dev libbz2-dev zlib1g-dev
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
